<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Holy Grail Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h3 class="h3 d-flex justify-content-center">Welcome to the Holy Grail</h3>
<div class="d-flex text-center" style="width: 16rem; margin: 0 auto 10px;">
    <form class="form-group"
          th:action="@{/holy-grail/make-a-wish}"
          method="post">
        <label class="col-form-label" for="wish-textarea">Your wish</label>
        <textarea class="form-control"
                  name="wish"
                  id="wish-textarea"
                  placeholder="Write your wish here..."
                  required></textarea>
        <br>
        <button class="btn btn-sm btn-primary" type="submit">Make-a-Wish!</button>
    </form>
</div>
<div class="border" style="text-align: center; width: 20rem; margin: auto;">
    <p style="display: inline-block"
       th:text="${wish.getWish()} != null ? ${wish.getWish()} : 'No wish yet. Create one.'">
    </p>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
